
.mm-admin-api-data-section-squashed:not(:last-of-type) {
    border-bottom: 0;
}

.mm-admin-api-data-section-squashed {
    margin-bottom: 0;
}
.mm-admin-api-data-section {
    margin: 0 0;
    padding: 30px;
    background: #fff;
    border: 1px solid #e5e6e6;
    line-height: 2;
}
.mm-admin-api-data-section .centered {
    text-align: center !important;
}
.mm-admin-api-data-section h1{
	margin-top: 0;
    padding-top: 0;
    line-height: 1.6;
}
.mm-admin-api-data-section-hero {
    padding: 0;
}
.mm-page-api-data .mm-admin-api-data-section-table .mm-admin-api-data-section-hero-main {
    padding: 0;
}
.mm-admin-api-data-section-hero .mm-admin-api-data-section-hero-main {
    background-color: #fafafa;
    border-bottom: 1px solid #e5e6e6;
    display: flex;
}
.mm-admin-columns .mm-admin-column-20 {
    width: 20%;
}

.mm-admin-api-data-section-table .mm-admin-api-data-section-hero-main .mm-admin-column-20:first-child h3 {
    padding: 30px;
}
.no-margin {
    margin: 0 !important;
}
.mm-admin-api-data-section h3 {
    font-size: 18px;
    color: #23282c;
}
.no-padding {
    padding: 0 !important;
}
.mm-admin-api-data-section-hero .mm-admin-api-data-section-hero-extra table {
    width: 100%;
}
.mm-admin-api-data-section-table table {
    border-collapse: collapse;
}
.mm-admin-api-data-section-table table tr td {
    border-bottom: 1px solid #e5e6e6;
    border-right: 1px solid #e5e6e6;
    padding: 30px;
}
.mm-admin-api-data-section p:last-child {
    margin-bottom: 0;
}
.mm-admin-api-data-section-table table p {
    background-repeat: no-repeat;
    background-size: 15px auto;
    background-position: 0 6px;
    margin: 0;
}
.mm-admin-api-data-section p {
    font-size: 16px;
}
.mm-admin-api-data-section-table .mm-admin-api-data-section-hero-main h3 {
    padding: 30px 30px 30px 60px;
}
.mm-api-data-refresh-btn{
    margin-top: 20px;
}
.mm-error{
    color: red;
    font-size: 20px;
}